<%= render 'layouts/header' %>
  <a href="/tweets/new" class="button1">新規登録</a>
  <a href="/" class="button2">ログイン</a>
</header>
<div class="content">
  <div class= "contents">
    <% @tweets.each do |t|%>
      <a href="" class="tweets">
        <div class="image">
          <%= image_tag(t.image,:size =>"312x182")%>
        </div>
        <div class="title">
          <%= t.title %>
        </div>
      </a>
    <% end %>
  </div>
</div>
