html {
  overflow-y:scroll;
}
label {
  color: black;;
}
.new_return{
  margin-left: 70%;
  font-size: 30px;
  color: grey;
  &:hover{
    color:black;
  }
}
.new_content{
  height: 500px;
  width: 50%;
  margin:auto;
}

.label_title{
  font-size: 30px;
  display: block;
  font-weight:normal;

}
.label_text{
  font-size: 30px;
  display: block;
  font-weight:normal;
}
.label_image{
  font-size: 30px;
  display: block;
  font-weight:normal;
}
.title_form{
  width: 50%;
  height: 30px;
  margin-left: 20%;
  margin-top: 5%;
}
.text_form{
  width: 50%;
  height: 30px;
  margin-left: 20%;
  margin-top: 5%;
}
.image_form{
  width: 50%;
  height: 30px;
  margin-left: 20%;
  margin-top: 5%;
}
.new_submit {
  padding: 20px 80px;
  margin-top: 10%;
  -webkit-appearance: none;
  margin-left: 32%;
  font-size: 30px;
  color: black;
  font-family: "Yu Gothic";
  cursor: pointer;
  &:hover {
    color:white;
    background: black;
  }
}