.header {
  height: 150px;
  width: 100%;
  background:url(blue);
  background-size: 100% 100%;
  padding-top: 5px;
  padding-left: 10px;
}
.h1 {
  font-size: 50px;
  color: white;

}
.contents {
  height: 1000px;
  width: 100%;
  background: url(zi-nzu);
  background-size: 100% 100%;
}