@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
a {
  text-decoration: none;
}
.header {
  height: 150px;
  width: 100%;
  // background:url(blue);
  background: black;
  background-size: 100% 100%;
  padding-top: 5px;
  padding-left: 10px;
}
.h1 {
  margin-top: 10px;
  font-size: 50px;
  color: white;
  padding-bottom:40px;
}
.show-name {
  color:white;
  font-size: 45px;
  margin-left: 75%;
}
.button1 {
  margin-left: 80%;
  background: white;
  color:black;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  &:hover {
    background: silver;
  }
}
.button2 {
  margin-left: 3%;
  background: white;
  color:black;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  line-height: 40px;
  text-align: auto;
  &:hover {
    background: silver;
  }
}
.content {
  height: 800px;
  width: 100%;
  // background: url(zi-nzu);
  background: white;
  background-size: 100% 100%;
  padding-top: 50px;
}
.contents {
  height:95%;
  width: 90%;
  // background: blue;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tweets {
  height: 30%;
  width: 24%;
  // background: green;
  display: block;
  // border:double;
  border-color: brown;
  border-width: 0.5px;
  filter: drop-shadow(5px 5px 5px rgba(55, 56, 56, 0.6));
}
.image {
  height: 80%;
  width: 100%;
  position: relative;
  // background: yellow;
}
.ppp {
  position: absolute;
  top:0;
  color:white;
}
.title {
  height: 20%;
  width: 100%;
  // background:url(blue);
  background: black;
  background-size: 100% 100%;
  color: white;
  text-align: center;
  line-height: 50px;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
.show_content {
  height: 585px;
  width: 100%;
  // background: url(zi-nzu);
  // background-size: 100% 100%;
  background:white;
  padding-top: 50px;
  display: flex;
}
.show_contents {
  height:95%;
  width: 45%;
  // background: blue;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 4%;
}
.show_image {
  height: 90%;
  width: 45%;
}
.show_text {
  height: 6%;
  width: 100%;
  color: black;
  text-align: center;
  line-height: 80px;
  font-family: fantasy;
}
.comment {
  height: 95%;
  width: 45%;
  background: black;
  margin-left: 2%;

}
.h1_comment{
  width: 100%;
  height: 10%;
  background: black;
  font-size: 30px;
  text-align: center;
  font-weight: normal;
  color:white;
  line-height: 40px;
}
.comment-box {
  width: 100%;
  height: 80%;
}
.comment-form-box{
  width: 100%;
  height: 10%;
}
.comment_text_form{
  width: 70%;
  height: 30px;
  margin-left: 5%;
  margin-top: 1%;
}
.comment_submit{
  -webkit-appearance: none;
  padding: 8px 20px;
  margin-top: 7px;
  border-radius: 1px;
  margin-left: 5%;
  font-size: 15px;
}
.show_return{
  margin-left: 48%;
  font-size: 30px;
  color: black;
  &:hover{
    color:gray;
  }
}
.comment_text{
  margin-top: 10px;
  display: inline-block;
  height: 30px;
  width: 50%;
  margin-left: 16%;
  color: white;
  font-size: 20px;
}
.comment_name {
  margin-top: 10px;
  display: inline-block;
  height: 30px;
  width: 20%;
  margin-left: 5%;
  color: white;
  font-size: 20px;
}